{% extends 'base.html' %}
{% load static %}
{% block title %}登录{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css">{% endblock %}

{% block content %}
{% comment %}
    <!--<form class="form-login" action="{% url 'login:login' %}" method="post">
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    {% csrf_token %}
        <h2 class="text-center">欢迎登录</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">用户名</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username" autofocus required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
  </div>
  <button type="reset" class="btn btn-default pull-left">重置</button>
  <button type="submit" class="btn btn-primary pull-right">登录</button>

</form>-->
{% endcomment %}

    <form action="{% url 'login:login' %}" method="post" class="form-login">
    {% if message %}
        <div class="alert-warning alert">{{ message }}</div>
    {% endif %}
    {% csrf_token %}
    <h2 class="text-center">欢迎登录</h2>
    <div class="form-group">
        {{ login_form.username.label_tag }}
        {{ login_form.username }}
    </div>
    <div class="form-group">
        {{ login_form.password.label_tag }}
        {{ login_form.password }}
    </div>
    <!--<div class="form-group">
        <label for="id_captcha_1">验证码:</label>
        <input type="text" id="id_captcha_1" class="form-control user_captcha" placeholder="请输入验证码" autocomplete="off" autocapitalize="off" spellcheck="false" name="captcha_1">
        <img src="{{ image_url }}" alt="captcha" class="captcha" id="captcha_image">
        <input id="id_captcha_0" name="captcha_0" value="{{ hash_key }}" type="hidden" required>
    </div>-->
        <img src="{{ image_url }}" alt="captcha" class="captcha" id="captcha_image" style="float:right;margin-top:27px;">
        <div class="form-group  has-feedback" style="width:70%;">
  <label class="control-label" for="id_captcha_1">验证码:</label>
  <input type="text" class="form-control user_captcha" id="id_captcha_1" aria-describedby="inputSuccess2Status" name="captcha_1" spellcheck="false">
  <input type="hidden" name="captcha_0" id="id_captcha_0" value="{{ hash_key }}" required>
  <span class="glyphicon  form-control-feedback" aria-hidden="true" style="top:30px;"></span>
  <span id="inputSuccess2Status" class="sr-only">(success)</span>

    </div>
        <input type="reset" class="btn btn-default pull-left" value="重置">
        <input type="submit" class="btn btn-primary pull-right" value="登录">

    </form>

<!--<wb:share-button addition="simple" type="icon" ralateUid="3622326474" default_text="Mr.Wang%E7%9A%84%E4%B8%AA%E4%BA%BA%E7%BD%91%E7%AB%99%20--%20%E4%B8%80%E4%B8%AA%E7%95%8C%E9%9D%A2%E7%AE%80%E6%B4%81%E6%B8%85%E7%88%BD%E7%9A%84%E5%8D%9A%E5%AE%A2%E7%BD%91%E7%AB%99"></wb:share-button>-->
{% endblock %}

{% block js %}
    <script>
    $(function(){
        $('.captcha').click(function(){
            console.log('click');
            $.getJSON("/captcha/refresh/", function (result) {
                $('.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['key'])
            })
        });
        // ajax动态验证
        $('#id_captcha_1').blur(function(){
            $('[style="width:70%;"]').removeClass('has-success has-error');
            $('[aria-hidden="true"]').removeClass('glyphicon-ok glyphicon-remove');
            json_data={
                'response':$('#id_captcha_1').val(), //获取输入框和隐藏字段id_captcha_0的值
                'hashkey': $('#id_captcha_0').val()
            };
            $.getJSON('{% url "login:ajax_val" %}', json_data, function(data){
                if(data['status']){
                    $('[style="width:70%;"]').addClass('has-success');
                    $('[aria-hidden="true"]').addClass('glyphicon-ok');
                    }else{
                    $('[style="width:70%;"]').addClass('has-error');
                    $('[aria-hidden="true"]').addClass('glyphicon-remove');
                }
            })
        })

        $('[type="reset"]').click(function(){
            $('[style="width:70%;"]').removeClass('has-success has-error');
            $('[aria-hidden="true"]').addClass('glyphicon-ok glyphicon-remove');
        })

    })
</script>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"大家好，欢迎分享Mr.Wang的主页","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"6","bdPos":"left","bdTop":"120"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：我的家","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
{% endblock %}