<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'bootstrap-3.3.7-dist/js/jquery-1.11.3.js' %}"></script>
</head>
<body>
{{ form }}

<script>
    $(function(){
        $('.captcha').click(function(){
            console.log('click');
            $.getJSON("/captcha/refresh/", function (result) {
                $('.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['key'])
            })
        })
    })
</script>
</body>
</html>